body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    color: #272b30;

}

    .table-hover tbody tr:hover td {
          background: red; /* For browsers that do not support gradients */
          background: -webkit-linear-gradient(black, indigo, black); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(black, indigo, black); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(black, indigo, black); /* For Firefox 3.6 to 15 */
          background: linear-gradient(black, indigo, black); /* Standard syntax */
}  



.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

