<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="eXtensoft.application" type="XF.Common.eXtensibleFrameworkSection, XF.Common.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <sectionGroup name="eXtensoft.database" type="XF.Common.eXtensibleStrategySectionGroup, XF.Common.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <section name="dbStrategy" type="XF.Common.eXtensibleStrategySection, XF.Common.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </sectionGroup>
  </configSections>


  <eXtensoft.application zone="Development" appContext="cyclops" instanceId="demo.console.server" dataFolderpath="data" 
                         isAsync="false" userIdParamName="UserIdentity" captureMetrics="true" loggingKey="a" 
                         bigDataUrl="http://localhost:49408/" serviceToken="43b1e64e-b990-4fc5-a727-bf124b274ba8">
    
    <loggingSettings>
      <add key="a" loggingStrategy="WindowsEventlog" publishSeverity="Verbose"/>
      <add key="b" loggingStrategy="CommonServices" publishSeverity="Verbose"/>
      <add key="c" loggingStrategy="XFTool" publishSeverity="Critical"/>
      <add key="d" loggingStrategy="Plugin" publishSeverity="Verbose"/>
      <add key="o" loggingStrategy="Output" publishSeverity="Verbose"/>
      <add key="x" loggingStrategy="XFTool" publishSeverity="Verbose" inform="true"/>
    </loggingSettings>
  </eXtensoft.application>  
  
  
  

  <eXtensoft.database>
      <!--    
    <dbStrategy appContext="my-app" resolvesTo="arc-demo">
      <strategies>
        <add name="Widget" strategyValue="Company.Technology" resolvesTo="arc-demo"/>
        <add name="Broomstick" strategyValue="Company.Technology.Person" resolvesTo="arc-demo"/>
        <add name="big-data" strategyValue="XF.Common.MongoDb" resolvesTo="bigdata.mongo"/>
      </strategies>
    </dbStrategy>
  -->
    <dbStrategy appContext="cyclops" resolvesTo="arc-demo">
      <strategies>
       <add name="note" strategyValue="Cyclops.Note" resolvesTo="arc-demo"/>
        <add name="styx" strategyValue="Styx.ProjectManagement" resolvesTo="styx-demo" />
      </strategies>
    </dbStrategy>
  </eXtensoft.database>

  <connectionStrings>
    <add name="arc-demo" connectionString="Data Source=(local);Initial Catalog=cyclops;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="styx-demo" connectionString="Data Source=(local);Initial Catalog=styx;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="bigdata.mongo" connectionString="Data Source=mongodb://localhost;Initial Catalog=BigData;" providerName="MongoDb.Driver"/>
    <add name="my.sql" connectionString="server=localhost;user id=root; password=; database=mysql; pooling=false" providerName="MySql.Data"/>
  </connectionStrings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="bigArrays" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsBigArrays" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <!--<service name="XF.Common.Wcf.DataPacketService"
							 behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:6000" />
          </baseAddresses>
        </host>
        <endpoint address =""
									bindingConfiguration="wsBigArrays"
									binding="wsHttpBinding"
									contract="XF.Common.Wcf.IDataPacketService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>-->
      <service name="XF.Common.Wcf.GenericService" behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:6000"/>
          </baseAddresses>
        </host>
        <endpoint address="/generic" bindingConfiguration="wsBigArrays" binding="wsHttpBinding" contract="XF.Common.Wcf.IDataPacketService">
        </endpoint>
        <endpoint address="/rpc" bindingConfiguration="wsBigArrays" binding="wsHttpBinding" contract="XF.Common.Wcf.IRpcDataPacketService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="models"/>
    </assemblyBinding>
  </runtime>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
