<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- basic role provider BEGIN -->

  <add key="basicRoleProvider.applicationName" value="soltop"/>
  <add key="basicRoleProvider.roles" value="guest.1;member.2;admin.3"/>
  <add key="basicRoleProvider.roles.member" value="robertknelson@gmail.com"/>
  <add key="basicRoleProvider.roles.guest" value="robertknelson@gmail.com"/>
  <add key="basicRoleProvider.roles.admin" value="robertknelson@gmail.com"/>

  <!-- basic role provider END -->
  
</appSettings>