<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=cyclops;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="api.cyclops" connectionString="Data Source=(local);Initial Catalog=cyclops;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>