<xf.application  zone="development" appContext="blackrocket.api" instanceId="local.api.8"
  dataFolderpath="data" isAsync="false" userIdParamName="UserIdentity"
  captureMetrics="false" loggingKey="datastore" bigDataUrl="http://bigdata.extensoft.com/" serviceToken="708DFC90-2789-4C9E-87B4-E3AFE6536707">
  <loggingSettings>
    <add key="none" loggingStrategy="None" publishSeverity="Critical" />
    <add key="eventlog" loggingStrategy="WindowsEventLog" publishSeverity="Verbose" inform="true" />
    <add key="common" loggingStrategy="CommonServices" publishSeverity="Verbose" />
    <add key="local" loggingStrategy="XFTool" publishSeverity="Verbose" inform="true"/>
    <add key="datastore" loggingStrategy="Datastore" publishSeverity="Verbose" datastoreKey="api.blackrocket" />
  </loggingSettings>
</xf.application>
