<xf.webApi  loggingKey="datastore" 
            bigDataUrl="" 
            serviceToken="" 
            messageProviderFolder="messageprovider">
  <loggingSettings>
    <add key="eventLog" loggingMode="all" loggingStrategy="WindowsEventLog"/>
    <add key="eventlog-some" loggingMode="sparse" loggingStrategy="WindowsEventLog"/>
    <add key="datastore" loggingMode="sparse" loggingStrategy="datastore" datastoreKey="api.blackrocket"/>
  </loggingSettings>
</xf.webApi>