<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <configSections>
    <section name="eXtensoft.application" type="XF.Common.eXtensibleFrameworkSection, XF.Common.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <!--<sectionGroup name="eXtensoft.database" type="XF.Common.eXtensibleStrategySectionGroup, XF.Common.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <section name="appOne" type="XF.Common.eXtensibleStrategySection, XF.Common.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>-->

  </configSections>


  <eXtensoft.application zone="Development" appContext="cyclops" instanceId="demo.console" dataFolderpath="data" isAsync="false" userIdParamName="UserIdentity" captureMetrics="true" loggingKey="a" bigDataUrl="http://localhost:49408/" serviceToken="80FF8B69-54DB-46B0-976D-96CB16C35B9F">
    <loggingSettings>
      <add key="a" loggingStrategy="WindowsEventlog" publishSeverity="Verbose"/>
      <add key="b" loggingStrategy="CommonServices" publishSeverity="Verbose"/>
      <add key="c" loggingStrategy="XFTool" publishSeverity="Critical"/>
      <add key="d" loggingStrategy="Plugin" publishSeverity="Verbose"/>
      <add key="o" loggingStrategy="Output" publishSeverity="Verbose"/>
      <add key="x" loggingStrategy="XFTool" publishSeverity="Verbose" inform="true"/>
    </loggingSettings>
  </eXtensoft.application>



  <connectionStrings>
    <add name="arc-demo" connectionString="Data Source=(local);Initial Catalog=cyclops;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="bigdata.mongo" connectionString="Data Source=mongodb://localhost;Initial Catalog=BigData;" providerName="MongoDb.Driver"/>
    <add name="my.sql" connectionString="server=localhost;user id=root; password=; database=mysql; pooling=false" providerName="MySql.Data"/>
  </connectionStrings>






  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="bigArrays" sendTimeout="01:00:00" receiveTimeout="01:00:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <!--<security mode="Transport"/>-->
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsBigArrays" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="maxItems">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <!-- local dev Rackspace combined -->
      <endpoint address="http://localhost:6000/rpc" binding="wsHttpBinding" bindingConfiguration="wsBigArrays" contract="XF.Common.Wcf.IRpcDataPacketService" name="default-rpc"/>

      <endpoint address="http://hnocdev03.rbdev.local:8088/GenericService.svc" binding="wsHttpBinding" bindingConfiguration="wsBigArrays" contract="XF.Common.Wcf.IDataPacketService" name="default-remote"/>

      <endpoint address="http://localhost:6000/generic" binding="wsHttpBinding" bindingConfiguration="wsBigArrays" contract="XF.Common.Wcf.IDataPacketService" name="default"/>

    </client>

  </system.serviceModel>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>

</configuration>
