@{
    Layout = null;
    bool hasInfo = false;
    string errorCode = "";
    string[] errorDescription = new string[10];
    if (Model != null)
    {
        hasInfo = true;
        errorCode = Model.Code.ToString();
        errorDescription = Model.Description.Split(new char[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries);

    }
}
<link href="~/Content/Site.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
    @if (hasInfo)
    {
        <ul>

            <li>@errorCode</li>
            @foreach (var item in errorDescription)
            {
                <li>@item</li>
            }

        </ul>
    }

</body>
</html>
